body {
    font-family: Arial;
    background: #f4f6f9;
}

nav {
    background: #2c3e50;
    color: white;
    padding: 10px;
}

nav a {
    color: white;
    margin-left: 10px;
}

.card {
    background: white;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
}