<!DOCTYPE html>
<html>
<head>
    <title>Edit</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>Edit Expense</h1>

<form method="POST" class="card">
    <input name="name" value="{{ expense[1] }}">
    <input name="amount" value="{{ expense[2] }}">
    <input name="note" value="{{ expense[5] }}">

    <select name="category">
        <option>Food</option>
        <option>Travel</option>
        <option>Bills</option>
        <option>Other</option>
    </select>

    <button>Update</button>
</form>

</body>
</html>