<!DOCTYPE html>
<html>
<head>
    <title>Edit Expense</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>Edit Expense</h1>

<form method="POST" class="card">

    <input type="text" name="name" value="{{ expense[1] }}">

    <input type="number" name="amount" value="{{ expense[2] }}">

    <select name="category">
        <option>Food</option>
        <option>Travel</option>
        <option>Bills</option>
        <option>Other</option>
    </select>

    <input type="text" name="note" value="{{ expense[5] }}">

    <button type="submit">Update</button>

</form>

</body>
</html>