<!DOCTYPE html>
<html>
<head>
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>💰 Expense Tracker</h1>

<!-- ADD FORM -->
<form action="/add" method="POST" class="card">

    <input type="text" name="name" placeholder="Expense name" required>

    <input type="number" name="amount" placeholder="Amount" required>

    <select name="category">
        <option>Food</option>
        <option>Travel</option>
        <option>Bills</option>
        <option>Other</option>
    </select>

    <input type="date" name="date" required>

    <input type="text" name="note" placeholder="Add note">

    <button type="submit">Add Expense</button>

</form>

<!-- EXPENSE LIST -->
<div class="card">

    {% for e in expenses %}
    <div class="expense">
        <div>
            <strong>{{ e[1] }}</strong> - ₹{{ e[2] }}  
            <br>
            <small>{{ e[3] }} | {{ e[4] }}</small>  
            <br>
            <i>{{ e[5] }}</i>
        </div>

        <div>
            <a href="/edit/{{ e[0] }}">✏️</a>
            <a href="/delete/{{ e[0] }}">❌</a>
        </div>
    </div>
    {% endfor %}

</div>

<h2>Total: ₹{{ total }}</h2>

</body>
</html>