<!DOCTYPE html>
<html>
<head>
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<nav>
    <h2>💰 Tracker</h2>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/export">Export</a>
</nav>

<h1>Expense Tracker</h1>

{% if warning %}
<h3 style="color:red;">⚠ Budget Exceeded!</h3>
{% endif %}

<h3>Top Category: {{ top }}</h3>

<form action="/search">
    <input type="text" name="q" placeholder="Search">
</form>

<form action="/add" method="POST" class="card">
    <input name="name" placeholder="Name" required>
    <input name="amount" placeholder="Amount" required>
    <input name="date" type="date" required>
    <input name="note" placeholder="Note">

    <select name="category">
        <option>Food</option>
        <option>Travel</option>
        <option>Bills</option>
        <option>Other</option>
    </select>

    <button>Add</button>
</form>

<div class="card">
    <h3>Total: ₹{{ total }}</h3>
    <h4>Weekly: ₹{{ weekly }}</h4>
    <h4>Monthly: ₹{{ monthly }}</h4>
</div>

<div class="card">
    {% for e in expenses %}
    <div class="expense">
        <div>
            {{ e[1] }} - ₹{{ e[2] }} ({{ e[3] }})
            <br>{{ e[4] }} | {{ e[5] }}
        </div>
        <div>
            <a href="/edit/{{ e[0] }}">✏️</a>
            <a href="/delete/{{ e[0] }}">❌</a>
        </div>
    </div>
    {% endfor %}
</div>

</body>
</html>